<p id="notice"><%= notice %></p>
<p>
  <strong>Cert agency:</strong>
  <%= @certagency.cert_agency %>
</p>
<%= link_to "Edit", edit_certagency_path(@certagency) %> |
<%= link_to "Back", certagencies_path %>
