<div class="admin-background">
<div class="admin-wrapper">
<h1 class="admin-heading">Admins</h1>

<p>
<%= link_to "Control access for users", edit_permissions_path, :class => "button is-danger" %>
</p>

</div>
</div>