<h1>Admins</h1>

<p>
<%= link_to 'Enable/disable admin access for user', edit_permissions_path %>
</p>
<p>
<%= link_to 'Enable/disable a user account', edit_enablement_path %>
</p>

<p>
<%= link_to 'DELETE a user account', edit_user_deletion_path %>
</p>