#join_meetup_form {
  display: none;
}

.navbar-item img {
  max-height: 600px;
  max-width: 400px;
  width: auto;
  height: auto;

  @include small {
    max-height: 400px;
    max-width: 300px;
  }
}

.navbar-item {
  @include nil_top_bottom_padding;
}

.navbar {
  background-color: $light_blue;
}

.navbar-end img {
  margin-top: auto;
  margin-bottom: auto;
  max-width: 100px;
  max-height: 100px;
  height: auto;
  width: auto;
}

.warning-link {
  color: $warning_red;
}

.navbar-item {
  font-size: 1.25rem;
}


.hero-body {
  background-image: url("css/hero_edit.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $cartoon_blue;
  padding-bottom: 0;
}

.top-align-text {
  background-color: $light_blue;
}

.top-align-text > h1 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 2.5rem;
}
.top-align-text > h2 {
  font-size: 1.5em;
}

.top-align-text > h1,
.top-align-text > h2 {
  font-family: $font_patua;
  color: white;
  letter-spacing: 2px;
  padding: 10px 10px 10px 10px;
  
}

.small-margin-top-bottom {
  @include small_margin_top_bottom;
}

.cards-container {
  background-color: $cartoon_blue;
}

.columns {
  display: flex;
  flex-direction: column;
}


.cards .column {
  height: 300px;
  margin: 10px;
  text-align: center;
  font-size: 2em;
-webkit-box-shadow: -7px 11px 25px -9px rgba(0,0,0,1);
-moz-box-shadow: -7px 11px 25px -9px rgba(0,0,0,1);
box-shadow: -7px 11px 25px -9px rgba(0,0,0,1);
background-color: $light_blue;
position: relative;
}

.cards .column p {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.cards img {

  max-width: 230px;
  max-height: 230px;
  width: auto;
  height: auto;
}

.card-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline;
}

.form-heading {
 @include default-h1
}

.form-background {
  width: 100%;
  position: relative;
  background-color: $cartoon_blue;
}

.form-wrapper {
  width: 300px;
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.devise-shared-links {
  color: black;
  font-size: 1.2em;
}

.field {
  @include force_horizontal_center;
}

form .button {
  margin: 10px;
}

form .control {
  @include force_horizontal_center;
}
a
.hero.is-large .hero-body {
    padding-bottom: 10rem;
}

.notice {
  background-color: $notice_green;
  @include notice_alert_box;
}

.alert {
  background-color: $alert_red;
  @include notice_alert_box;
}

.admin-background {
  width: 100%;
  position: relative;
  background-color: $cartoon_blue;
}

.admin-wrapper {
  width: 300px;
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 30px;
}

.admin-heading {
  @include default_h1
}

.default-scaffold-links {
  color: black;
  font-size: 1.2em;
}

.meetups-heading {
  @include default_h1
}

.no-meetups-error {
  background-color: $warning_red;
}

.no-meetups-error {
  text-align: center;
  color: black;
  font-size: 2em;
}

.bold {
  font-weight: bold;
  font-size: 1.3em;
}

.show-meetup-heading {
  @include default_h1
}

.show-meetup-name {
  font-size: 2rem;
}

.hero-foot a {
  display: inline;
  float: none;
}