/* Light blue */
$light_blue: #84c0c6;
$cartoon_blue: #209cee;
$warning_red: #e04006;
$notice_green: #00d1b2;
$highlight_green: green;
$alert_red: #e04006;
$black: black;

$font_patua: 'Patua One', cursive;