
<h1>Thank you for your payment!</h1>
<h2>Now joining you to the meetup, please wait...</h2>
<%= link_to 'Click here if you are not redirected automatically', join_meetup_path(params[:id]) %>


<%= form_for :nil, url: join_meetup_path(params[:id]), :html => {:id => "join_meetup_form"}, method: :post do |form| %>
  <%= form.submit "Submit", id: "join_meetup_button"  %>
<% end  %>