
  <div class="hero-foot">
    <nav class="tabs">
      <div class="container">
      <p>Icons used designed by Roundicons, sourced from: <a href="https://flaticon.com">flaticon.com</a></p>
      </div>
    </nav>
  </div>